.payment{
    background-color: white;
}
.payment__container > h1{
    text-align: center;
    padding:10px;
    font-weight:400;
    border-bottom: 1px solid lightgray;
    font-family:Arial, Helvetica, sans-serif;
}
.payment__container > h1 a{
    text-decoration: none;
    color:gray;
}
.payment__container > h1 a:hover{
    color:black;
}
.payment__section{
    display:flex;
    padding:20px;
    margin:0 20px;
    border-bottom: 1px solid #95a595;
}
.payment__title {
    font-weight:bold;
    flex:0.2 /*Take only 20% */
}
.payment__address,.payment__items , .payment__details{
    flex:0.8;
}
